<%= form_with(model: mom, local: true) do |form| %>
  <% if mom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mom.errors.count, "error") %> prohibited this mom from being saved:</h2>

      <ul>
      <% mom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.collection_check_boxes :child_ids, @children, :id, :name do |b| %>
      <%= b.label { b.check_box + b.text } %>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
