<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @mom.name %>
</p>

<% @mom.children.each do |kid| %>
  <div>
    Has a kid <%= kid.name %> from Dad <%= kid.mom ? kid.dad.name : "None" %>
  </div>
<% end %>

<br/>

<%= link_to 'Edit', edit_mom_path(@mom) %> |
<%= link_to 'Back', moms_path %>
