<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @child.name %>
</p>

<div>Mom: <%= @child.mom.try(:name)%></div>
<div>Dad: <%= @child.dad.try(:name)%></div>

<br/>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
