<%= form_with(model: board_minute, local: true) do |form| %>
  <% if board_minute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(board_minute.errors.count, "error") %> prohibited this board_minute from being saved:</h2>

      <ul>
      <% board_minute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :deal_id %>
    <%= form.text_field :deal_id %>
  </div>

  <div class="field">
    <%= form.label :board_id %>
    <%= form.text_field :board_id %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
