<p id="notice"><%= notice %></p>

<h1>Board Minutes</h1>

<table>
  <thead>
    <tr>
      <th>Deal</th>
      <th>Board</th>
      <th>Quantity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @board_minutes.each do |board_minute| %>
      <tr>
        <td><%= board_minute.deal %></td>
        <td><%= board_minute.board %></td>
        <td><%= board_minute.quantity %></td>
        <td><%= link_to 'Show', board_minute %></td>
        <td><%= link_to 'Edit', edit_board_minute_path(board_minute) %></td>
        <td><%= link_to 'Destroy', board_minute, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Board Minute', new_board_minute_path %>
