<p id="notice"><%= notice %></p>

<p>
  <strong>Deal:</strong>
  <%= @board_minute.deal %>
</p>

<p>
  <strong>Board:</strong>
  <%= @board_minute.board %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @board_minute.quantity %>
</p>

<%= link_to 'Edit', edit_board_minute_path(@board_minute) %> |
<%= link_to 'Back', board_minutes_path %>
