<%= form_with(model: dad, local: true) do |form| %>
  <% if dad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dad.errors.count, "error") %> prohibited this dad from being saved:</h2>

      <ul>
      <% dad.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%#= form.collection_check_boxes :child_ids, @children, :id, :name do |b| %>
      <%#= b.label { b.check_box + b.text } %>
    <%# end %>
    <%= form.fields_for :children, @children do |ff| %>
      <div class="field">
        <%= ff.label "name" do %>
          <%= ff.check_box :dad_id, {}, dad.new_record? ? 0 : dad.id, nil %> <%= ff.object.name %>
        <% end %>
      </div>
      <div class="field">
        <%= ff.label :age do %>
          <%= ff.text_field :age %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
