<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @dad.name %>
</p>

<% @dad.children.each do |kid| %>
  <div>
    Has a kid <%= kid.name %> from Mom <%= kid.mom ? kid.mom.name : "None" %>
  </div>
<% end %>

<br/>

<%= link_to 'Edit', edit_dad_path(@dad) %> |
<%= link_to 'Back', dads_path %>
