<%= form_with(model: deal, local: true) do |form| %>
  <% if deal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(deal.errors.count, "error") %> prohibited this deal from being saved:</h2>

      <ul>
      <% deal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="board_minutes_table">
    <%= form.fields_for :board_minutes, @board_minutes do |ff| %>
      <div class="row">
        <div class="field">
          <%= ff.object.board.name %>
        </div>
        <div class="field gap-left inline-fields">
          <%= ff.label :quantity %>
          <%= ff.text_field :quantity, class: 'gap-left' %>
        </div>
        <%= ff.hidden_field :board_id %>
      </div>
    <% end %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
