<p id="notice"><%= notice %></p>

<p>
  <strong>Capacity:</strong>
  <%= @board.capacity %>
</p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
