// Place all the styles related to the BoardMinutes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.board_minutes_table {
  .row {
    display: flex;
  }
}
